{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
  <h1>{{ post.title }}</h1>
  <p class="date">
    Published {{ post.publish }} by {{ post.author }}
  </p>
  {{ post.body|linebreaks }}
  <p>
    <a href="{% url "blog:post_share" post.id %}">
      分享博客
    </a>
  </p>
  <h2>推荐阅读</h2>
  {% for post in similar_posts %}
    <p>
      <a href="{{post.get_absolute_url}}">{{post.title}}</a>
    </p>
  {% empty %}
    暂无推荐内容
  {% endfor %}

  {% with comments.count as total_comments %}
    <h2>
      共{{total_comments}}条评论
    </h2>
  {% endwith%}
  
  {% for comment in comments%}
    <div class="comment">
      <p class="info">
        第{{ forloop.counter }}条评论-{{comment.name}}-{{comment.created}}
      </p>
      {{comment.body|linebreaks}}
    </div>
  {% empty %}
    <p>还没有评论</p>
  {% endfor%}

  {% if new_comment %}
    <h2>评论成功</h2>
  {% else%}
    <h2>添加新评论</h2>
    <form method="post">
      {{comment_form.as_p}}
      {% csrf_token %}
      <input type="submit" value="提交">
    </form>
  {% endif %}
{% endblock %}